
.App {
 
  display: flex;
  flex-direction: column;
align-items: center;
  gap: 10vh;
  margin: 5%;
  color: rgb(243, 236, 236);
  background-color: black;
}

.card {
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
 
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;
}

.app_cards{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}